<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('common/headContent', {titulo: 'Meu restaurante'}) %>
  </head>
  <body>
    <%- include('./common/carrinhoIcon') %>

    <div class="container">

      <%- include('./common/menu') %>

      <% if (msg.sucesso) { %>
        <div class="alert alert-success mt-4" role="alert">
          <%= msg.sucesso %>
        </div>
      <% } %>

      <div id="form">

        <form method="post" action="/alterar_dados" class="d-flex flex-column mt-4 align-items-center">
          <div class="mb-3">
            <label class="form-label">Nome</label>
            <input type="text" class="form-control" id="nome" name="nome" value="<%= usuario.nome %>" required>
          </div>
          <div class="mt-5">
            <h5>Endereço de cobrança:</h5>
          </div>
          <div class="mb-3">
            <label class="form-label">Rua</label>
            <input type="text" class="form-control" id="rua" name="rua" value="<%= usuario.endereco.rua %>" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Número</label>
            <input type="text" class="form-control" id="numero" name="numero" value="<%= usuario.endereco.numero %>" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" name="bairro" value="<%= usuario.endereco.bairro %>" required>
          </div>
          <div class="mb-3">
            <label class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" name="cep" value="<%= usuario.endereco.cep %>" required>
          </div>

          <button type="submit" class="btn btn-primary mb-4">Enviar</button>
        </form>

      </div>

    </div>

  </body>
</html>
