<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('common/headContent', {titulo: 'Meu restaurante'}) %>
  </head>
  <body>
    <%- include('./common/carrinhoIcon') %>

    <div class="container">
      <%- include('./common/menu') %>

      <div id="form">

        <form method="post" action="/caixa" class="d-flex flex-column mt-4 align-items-center">
          <div class="mt-5">
            <h5>Endereço:</h5>
          </div>
          <div class="mb-3">
            <label class="form-label">Rua</label>
            <input type="text" class="form-control" id="rua" name="rua" value="<%= usuario.endereco.rua %>" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Número</label>
            <input type="text" class="form-control" id="numero" name="numero" value="<%= usuario.endereco.numero %>" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Bairro</label>
            <input type="text" class="form-control" id="bairro" name="bairro" value="<%= usuario.endereco.bairro %>" required>
          </div>
          <div class="mb-3">
            <label class="form-label">CEP</label>
            <input type="text" class="form-control" id="cep" name="cep" value="<%= usuario.endereco.cep %>" required>
          </div>

          <div class="mt-5">
            <h5>Dados do cartão:</h5>
          </div>
          <div class="mb-3">
            <label class="form-label">Nome (Como no cartão)</label>
            <input type="text" class="form-control" id="nomeCartao" name="nomeCartao" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Número</label>
            <input type="text" class="form-control" id="numCartao" name="numCartao" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Validade</label>
            <input type="date" class="form-control" id="valCartao" name="valCartao" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Código de segurança</label>
            <input type="text" class="form-control" id="codSegCartao" name="codSegCartao" required>
          </div>

          <button type="submit" class="btn btn-primary mb-4">Efetuar pagamento</button>
        </form>

      </div>

    </div>
  </body>
</html>
