<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./common/headContent', {titulo:'Cardápio'}) %>
  </head>
  <body>

    <div class="container">
      <%- include('./common/menu') %>

      <% if (itemAdicionadoAoCarrinho != ''){ %>
        <div class="alert alert-success mt-4" role="alert">
          <%= itemAdicionadoAoCarrinho %> adicionado ao carrinho.
        </div>
      <% } %>

      <% if (params.categoria) {%>
        <div class="cardapio-categoria mt-4">
        <h4 class="text-primary border-bottom border-primary"><%= params.categoria %></h4>

        <% for (let linha of itensCartegoriaCardapio) { %>
          <div class='noticias d-flex flex-column align-items-center'>
            <div class='d-flex flex-row mb-4 align-items-center'>
              <% for (let coluna of linha) { %>
                <div class="card me-2" style="width: 18rem;">
                  <a href="<%= params.categoria %>/<%= coluna._id %>">
                    <img src="<%= coluna.fotoUrl%>" class="card-img-top">
                  </a>
                  <div class="card-body">
                    <h5 class="card-title"><%= coluna.nome %></h5>
                    <h6 class="card-subtitle mb-2 text-muted">R$ <%= coluna.valor %>,<%= coluna.valorCentavos1 %><%= coluna.valorCentavos2 %></h6>
                    <a href="/cardapio/<%= coluna.categoria %>?id=<%= coluna._id%>" class="btn btn-success mb-2">
                      <img src="/images/icons/cart-plus.svg" width="20" height="20" title="cart">
                    </a>
                  </div>
                </div>
              <% } %>
            </div>
          </div>
        <% } %>

        </div>
      <% } else {%>
        <div class="d-flex mt-4 mb-4 flex-column align-items-center">
          <% for (let cat of categoriasDAO) {%>
            <h4>
              <a href="cardapio/<%= cat %>" class=""><%= cat %></a>
            </h4>
          <% } %>
        </div>
      <% } %>

    </div>

  </body>
</html>
