<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./common/headContent', {titulo:'Cardápio'}) %>
  </head>
  <body>

    <div class="container">
      <%- include('./common/menu') %>

      <% if (params.categoria) {%>
        <div class="cardapio-categoria mt-4">
        <h4 class="text-primary border-bottom border-primary"><%= params.categoria %></h4>

        <% for (let item of itensCartegoriaCardapio){ %>
          <div class="card me-2" style="width: 18rem;">
            <img src="<%= item.fotoUrl%>" class="card-img-top">
            <div class="card-body">
              <h5 class="card-title"><%= item.nome %></h5>
              <h6 class="card-subtitle mb-2 text-muted">R$ <%= item.valor %>,<%= item.valorCentavos1 %><%= item.valorCentavos2 %></h6>
              <a href="#" class="btn btn-primary">Detalhes</a>
              <a href="#" class="btn btn-success">Adicionar</a>
            </div>
          </div>
        <% } %>
        </div>
      <% } else {%>
        <div class="d-flex mt-4 mb-4 flex-column align-items-center">
          <% for (let cat of categoriasDAO) {%>
            <h3>
              <a href="cardapio/<%= cat %>" class=""><%= cat %></a>
            </h3>
          <% } %>
        </div>
      <% } %>


    </div>

  </body>
</html>
