<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./common/headContent', {titulo:'Cardápio'}) %>
  </head>
  <body>

    <div class="container">
      <%- include('./common/menu') %>

      <div class="cardapio-categoria mt-4">
        <% for (let categoria in cardapio) { %>
          <div class="categoria">
            <h4 class="text-primary border-bottom border-primary"><%= categoria %></h4>
            <% let itensDaCategoria = cardapio[categoria];%>
            <% for (item of itensDaCategoria){ %>
              <div class="card" style="width: 18rem;">
                <img src="<%= item.fotoUrl%>" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= item.nome %></h5>
                  <h6 class="card-subtitle mb-2 text-muted">R$ <%= item.valor %>,<%= item.valorCentavos1 %><%= item.valorCentavos2 %></h6>
                  <a href="#" class="btn btn-primary">Detalhes</a>
                  <a href="#" class="btn btn-success">Adicionar</a>
                </div>
              </div>
            <% } %>
          </div>
        <% } %>
      </div>

    </div>

  </body>
</html>
