<!DOCTYPE html>
<html>
  <head>
    <%- include('common/headContent', {titulo: 'Meu restaurante'}) %>
  </head>

  <body>

    <div class="container">

      <%- include('./common/menu') %>

      <div class="mt-4 d-flex flex-column align-items-center">
        <h3>Bem vindos ao Meu Restaurante!</h3>
        <h5>Oferecemos o melhor da culinária caseira.</h5>
      </div>

      <div class="mt-4 d-flex flex-column align-items-center">
        <h3>Notícias</h3>
      </div>

      <%
        const noticiasArray = [];
        let arrayLinha = [];
        let indexColeta = 2;

        for (let i = 0; i < noticias.length; i++) {
          if (i <= indexColeta){
            arrayLinha.push(noticias[i]);
            if (i == indexColeta){
              noticiasArray.push(arrayLinha);
              arrayLinha = [];
              indexColeta += 3;
            }
          }
        }

        if (arrayLinha.length > 0){
          noticiasArray.push(arrayLinha);
        }
      %>

      <% for (linha of noticiasArray) { %>
        <div class='noticias d-flex flex-column'>
          <div class='d-flex flex-row mb-4 justify-content-around'>
            <% for (coluna of linha) { %>
              <div class="card me-4" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= coluna.titulo %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= coluna.data %></h6>
                  <p class="card-text"><%= coluna.texto %></p>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      <% } %>

  </body>
</html>
