<!DOCTYPE html>
<html>
  <head>
    <%- include('common/headContent', {titulo: 'Meu restaurante'}) %>
  </head>

  <body>

    <div class="container">

      <%- include('./common/menu') %>

      <div class="mt-4 d-flex flex-column align-items-center">
        <h3>Bem vindos ao Meu Restaurante!</h3>
        <h5>Oferecemos o melhor da culinária caseira.</h5>
      </div>

      <div class="mt-4 d-flex flex-column align-items-center">
        <h3>Notícias</h3>
      </div>

      <% for (let linha of noticias) { %>
        <div class='noticias d-flex flex-column align-items-center'>
          <div class='d-flex flex-row mb-4 align-items-center'>
            <% for (let coluna of linha) { %>
              <div class="card me-4" style="width: 18rem;">
                <div class="card-body">
                  <h5 class="card-title"><%= coluna.titulo %></h5>
                  <h6 class="card-subtitle mb-2 text-muted"><%= coluna.data %></h6>
                  <p class="card-text"><%= coluna.texto %></p>
                </div>
              </div>
            <% } %>
          </div>
        </div>
      <% } %>

  </body>
</html>
